<%= form_for(@shelter) do |f| %>

<!--쉘터이름,자기소개,쉘터위치,쉘터종류 입력-->
<div class="row">
  <div class="col-lg-4 shelter_left_form">
    <div class="field">
      <%= f.label :name,"쉘터이름" %>
      <br>
      <%= f.text_field :name ,class:"form-control"%>
    </div>
    <div class="field">
      <%= f.label :introduce,"자기소개" %>
      <br>
      <%= f.text_field :introduce ,class:"form-control",placeholder: "자기소개 입력하셈"%>
    </div>
    
    <div class="field">
      <%= f.label :lonlat,"쉘터위치" %>
      <br>
      <%= f.text_field :lonlat, id: "lonlat",class:"form-control"%>
    </div>
    <div class="field">
      <%= f.label :kind,"쉘터종류" %>
      <br>
      <%= f.select :kind, options_for_select([['블로그', 'blog'], ['커머스', 'commerce']], 1), {}, { :class => 'form-control' } %>
    </div>
  </div>
  <!--쉘터이름,자기소개,쉘터위치,쉘터종류 입력 end-->

  <!--쉘터등록map-->
  <div class="col-lg-8 shelter_right_form">
    <div id="map_div" style="position:relative; width:100%px; height:400px; "></div>
    <div class="field" style="display:none;">
      <% Shelter.all.each do |shelter| %>
      <div class="shelter_lonlat">
        <%=shelter.lonlat%>
      </div>
      <% end %>
    </div>
  </div>
  <!--쉘터등록map end-->
</div>

<div class="actions">
  <%= f.submit("쉘터설정", class:"btn btn-default btn-round btn-line shelter_reg_btn") %>
</div>
<% end %>


<script>
var SetLonlatMethod = function(){
  function SetLonlatEvents(){//쉘터 생성할때 좌표 지정하기 위한 메서드
  map.events.register("click", map, onClickMap);
};
}
$(SetLonlatMethod);
$(document).on('page:change',SetLonlatMethod);
</script>