<div  class="form-group">
 <%= simple_form_for(:message, url: {action: "reply"} ) do |f| %>


<!--  <%= f.label :subject,'제목' %> -->
 <%= f.hidden_field :subject, value: "blanked" %>

 <%= f.label :body,'답장하기'%>
 <%= f.text_area :body,class:"form-control"%>         


<%= f.hidden_field :type , value: "only_sender" %>

 <%= f.submit '보내기', class: 'btn btn-default' %><!--입력되어진대로 제출한다.-->
 <%= f.submit '초기화'	, type: :reset, class: 'btn btn-danger' %><!--입력되어진대로 제출한다.-->

<!-- <a class="btn btn-default" id="message_submit_btn">보내기</a>
 <%= f.submit '초기화'	, type: :reset, class: 'btn btn-danger' %>
>>>>>>> 73514c0da3526b4985254fc04f08ca86e270ed2c -->
 <%= link_to '뒤로', conversations_path,class:"btn btn-default"%>

 <% end %>   
</div>

<script>
  $("#message_submit_btn").on("click",function(){
    var message_form = $(".message");
    var text_area = $("#message_body").val();
    var text_replace = text_area.replace(/\n/gi, '<br>');
    text_area= $("#message_body").val(text_replace);
    message_form.submit();
  });
</script>







<!-- 

= simple_form_for :message, url: reply_conversation_path(conversation) do |f|
  = f.input :subject
  = f.input :body
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
 -->