<div  class="form-group">
 <%= simple_form_for(:message, url: {action: "reply"}) do |f| %>


<!--  <%= f.label :subject,'제목' %> -->
 <%= f.hidden_field :subject, value: "blanked" %>

 <%= f.label :body,'답장하기'%>
 <%= f.text_area :body,class:"form-control"%>         


 <%= f.submit '보내기', class: 'btn btn-default' %><!--입력되어진대로 제출한다.-->
 <%= f.submit '초기화'	, type: :reset, class: 'btn btn-danger' %><!--입력되어진대로 제출한다.-->
 <%= link_to '뒤로', conversations_path,class:"btn btn-default"%>

 <% end %>   
</div>

<script>
</script>







<!-- 

= simple_form_for :message, url: reply_conversation_path(conversation) do |f|
  = f.input :subject
  = f.input :body
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
 -->