


							<li class="message_list_item" id="<%=message.id%>">							
							<ol>
								<li>
									<%if message.sender %> 
									<%= link_to(gravatar_for_circle2(message.sender, size: 50) , message.sender) %>
									<%end %>
								</li>
							</ol>
							<div class="message_body">
								<div class="message_name">
									<%if message.sender %> 
									<strong><%= message.sender.name %></strong>
									<%end %>
								</div>
								<div class="message_content">
									<% if read_counts(message) > 1  %>
									<div class="message_content_main well" style="">
										<% else %>
										<div class="message_content_main well" style="background: rgb(247,241,220); /* Old browsers */
										background: -moz-radial-gradient(center, ellipse cover,  rgba(247,241,220,1) 0%, rgba(255,189,168,1) 100%); /* FF3.6+ */
										background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(247,241,220,1)), color-stop(100%,rgba(255,189,168,1))); /* Chrome,Safari4+ */
										background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,241,220,1) 0%,rgba(255,189,168,1) 100%); /* Chrome10+,Safari5.1+ */
										background: -o-radial-gradient(center, ellipse cover,  rgba(247,241,220,1) 0%,rgba(255,189,168,1) 100%); /* Opera 12+ */
										background: -ms-radial-gradient(center, ellipse cover,  rgba(247,241,220,1) 0%,rgba(255,189,168,1) 100%); /* IE10+ */
										background: radial-gradient(ellipse at center,  rgba(247,241,220,1) 0%,rgba(255,189,168,1) 100%); /* W3C */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f1dc', endColorstr='#ffbda8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
										">
										<% end %>
										<%= simple_format(message.body) %>
									</div>
									<div class="message_content_info"><%= message.created_at %>
										<% if conversation.participants.size == 2 %> <!-- 일대일 대화일 경우 -->
										<% if read_counts(message) > 1  %>
										읽음
										<% else %>
										안 읽음
										<% end %>
										<%else %> <!-- 그룹 대화일 경우 -->
										<%=read_counts(message) %>명 읽음
										<% end %></div>
									</div>
								</div>
							</li>