<li class="left clearfix", id="comment-<%=comment.id %>">
	<% @user = comment.user  %>
	<span class="chat-img pull-left"> <%= gravatar_for @user , size: 50   ,class:'img-circle'%></span>
	<div class="chat-body clearfix">
		<div class="header">
			<strong class="primary-font"><%= comment.user_name %></strong>
			<small class="pull-right text-muted">
				<%if current_user?(@user) || current_user?(comment.micropost.user) %>					
				<%= link_to '', comment_path(comment), method: :delete,  data: { confirm: '댓글 삭제?' },remote: :true, class:'fa fa-times-circle' %>
				<% end %>
				
			</small>
		</div>
		<p><%= simple_format(comment.content) %></p>
	</div>
</li>

