<%= form_for(@comment, remote: :true, :html => { :id => "comment_form-#{micropost.id}"  } ) do |f| %>

												<% if @comment.errors.any? %>
												<div id="error_explanation">
													<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

													<ul>
														<% @comment.errors.full_messages.each do |message| %>
														<li><%= message %></li>
														<% end %>
													</ul>
												</div>
												<% end %> 
												<%= f.hidden_field :user_id, value: current_user.id %>
												<div id="Sex">
												<%= f.text_area :content,class:'form-control input-sm',placeholder:'말은 그 무엇보다 강려크하다'%>
											    </div>
												<%= f.hidden_field :micropost_id, value: micropost.id  %>
												<span class="input-group-btn">
													<% store_location %>
													<%= f.submit('댓글등록', class:'btn btn-default btn-sm')%>
<% end %>