<h2>Bulletins</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Data actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.title %></td>
        <td><%= bulletin.description %></td>
        <td>
          <%= link_to 'Show', [bulletin.shelter, bulletin], class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_shelter_bulletin_path(bulletin.shelter, bulletin), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [bulletin.shelter, bulletin], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Bulletin', new_shelter_bulletin_path, class: 'btn btn-default' %>


<!-- 네비게이션 및 기본 플래시 div -->


        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
            <!--라우팅, 컨트롤러 연결, 뷰딴 연결 과정-->

            <li class="<%= params[:bulletin_id] == '공지사항' ? 'active' : '' %>"><%= link_to '공지사항', shelter_bulletin_posts_path(bulletin_id: "공지사항") %></li>
            <!--파라미터에 지정된 속성과 일치된 값이 들어오면 삼항연산자에 의해 클래스를 active로 지정된다, 아니면 다른 클래스를 지정한다.(여기선 공백)-->
            <!--link_to 부분은 rake routes에서 확인가능-->
            <li class="<%= params[:bulletin_id] == '새소식' ? 'active' : '' %>"><%= link_to '새소식', shelter_bulletin_posts_path(bulletin_id: "새소식") %></li>
            <li class="<%= params[:bulletin_id] == '가입인사' ? 'active' : '' %>"><%= link_to '가입인사', shelter_bulletin_posts_path(bulletin_id: "가입인사") %></li>
            <li class="<%= params[:bulletin_id] == '갤러리' ? 'active' : '' %>"><%= link_to '갤러리', shelter_bulletin_posts_path(bulletin_id: "갤러리") %></li>

          </ul>
      </div>

    <div class="container">

      <%= render partial: "shared/flash_messages", flash: flash %><!--render 메소드는 partial 템플릿을 받을 때, 옵션으로 로컬 변수들을 넘겨 받을 수 있는데, 
                                                                      여기서는 flash 변수에 flash 해시를 넘겨 준다. 
                                                                      이 변수 flash는 _flash_messages.html.erb 파일에서 바로 사용할 수 있게 된다.-->

      <%= content_for?(:post_layout) ? content_for(:post_layout) : yield %><!--flash_messages를 띄우기 위함-->

      <!--<#%= yield %>-->

    </div> <!-- /container -->
