<!-- <h2>Bulletins</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Data actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.title %></td>
        <td><%= bulletin.description %></td>
        <td>
          <%= link_to 'Show', [bulletin.shelter, bulletin], class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_shelter_bulletin_path(bulletin.shelter, bulletin), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [bulletin.shelter, bulletin], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bulletin', new_shelter_bulletin_path, class: 'btn btn-default' %>
 -->
<div class="content_ab">
    <div id="carousel-example-captions" class="carousel slide bs-docs-carousel-example">
        <ol class="carousel-indicators">
            <%@bulletins.count.times.each do |i| %>
                <li data-target="#carousel-example-captions" data-slide-to="<%=i%>" class="active"></li>
                <% end %>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <%@bulletin=@bulletins.first %>
                    <%=image_tag( "../../../assets/shelter/white_background.png", height: '100%', width: '100%')%>
                        <div class="carousel-caption">
                            <div>
                                 <h1><%= link_to @bulletin.title, posts_path(:bulletin_id=>@bulletin ) %></h1>

                            </div>
                        </div>
            </div>
            <% @bulletins.each do |bulletin| %>
                <% unless bulletin== @bulletins.first %>
                    <div class="item">
                        <%=image_tag( "../../../assets/shelter/white_background.png", height: '100%', width: '100%')%>
                            <div class="carousel-caption">
                                <div>
                                     <h1><%= link_to bulletin.title, posts_path(:bulletin_id=>bulletin) %></h1>

                                </div>
                            </div>
                    </div>
                    <% end %>
                        <% end %>
        </div> <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
 <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="icon-next"></span>
        </a>

    </div>
</div>