<div class="row">
	<div class="col-lg-6">
		<div class="panel">
			<div  class="horizon_array_menu_h btn_mail">
				<ul>
					<li class="active">	<h2><strong>메세지 목록</strong></h2></li>
				</ul>
			</div>	
			<div class="conversation_list" style="padding:0 !important;margin-top:54px;">
				<ul class="conversation_list_ul">
					<%@conversations.each do |conversation| %>

					<% receipts = conversation.receipts_for current_user %>
					<% last_message = receipts.last.message %>
					<% unless conversation.is_trashed?(current_user) %>
					<% participants = conversation.participants %> <!-- 대화 참여자 -->
					<% is_group = true %>	
					
					<% if read_counts(last_message) > 1 %>
					<li class="conversation_list_item">
						<% else %>
						<li class="conversation_list_item" style="background: rgb(238,238,238); /* Old browsers */
						background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
						background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
						background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 12+ */
						background: -ms-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
						background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */">
						<% end %>
						<ul class="conversation_list_item_left">
							<li>	
								<% participants.each do |participant| %>
								<%unless current_user?(participant) %>
								<% if participants.size  <= 2 %>
								<%=link_to gravatar_for_circle2(participant,size: 50), participant%>
								<% elsif participants.size  <=5 %>
								<%=link_to gravatar_for_circle2(participant,size: 25), participant,style:"height:25px !important;"%>
								<% elsif participants.size  > 5 %>
								<% unless participant.id  > 5 %>
								<a href="#user_view_<%= conversation.id%>"data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" style="height:25px !important;"><%= gravatar_for_circle2(participant,size: 25) %></a>
								<% end %>
								<% end %>
								<% end %>
								<% end %>
							</li>
						</ul>
						<div>
							<span>								
								<a href="conversations/<%=conversation.id  %>">
									<span class="text_split"><%= conversation.last_message.body  %></span>
									<span><% if current_user?(conversation.last_message.sender) %>
										<%=gravatar_for_circle2(current_user, size: 25) %>
										<% elsif is_group  %>
										<%=gravatar_for_circle(conversation.last_sender, size: 25) %>
										<%end%></span>
									</a>
									<!-- <%= link_to conversation.last_message.body, conversation_path(conversation),class:"text_split"%> -->
								</span>
								<span class="index_message_info vertical_array_menu">
									<ul>
										<li>
											<strong>
												<%=time_ago_in_words(conversation.last_message.created_at)%> ago	
											</strong>
										</li>
										<li>
											<span style="float:right;margin:5px;">
												<% if read_counts(last_message) > 1 %>
												읽음
												<% end %>
												<i class="label label-warning"><%=count_unread_message_in conversation %></i>
											</span>
										</li>
									</ul>
								</span>
							</div>
							<ol>	
								<li>
									<%= link_to "", trash_conversation_path(conversation),data: { confirm: "휴지통으로 버리시겠습니까?" } ,method: :post,class:'fa fa-trash trash_btn' %>
								</li>
							</ol>
						</li>
						<li>
							<% if participants.size  > 5 %>
							<div class="panel-collapse collapse" id="user_view_<%= conversation.id%>">
								<% participants.each do |participant| %>
								<%unless current_user?(participant) %>
								<%=link_to gravatar_for_circle2(participant,size: 50), participant%>
								<% end %>
								<% end %>
							</div>
							<% end %>
						</li>
						<% end %>					
						<% end %>
					</ul>
				</div>
			</div>
		</div>

		<%= render 'text_split.js' %>

		<div class="col-lg-6">
			<div class="panel" id="arcodian">
				<div class="panel-heading">
					<h2 class="accordion-toggle"data-toggle="collapse" data-parent="#accordion" href="#friend_list" style="cursor:pointer; text-align:center;"><strong>친구목록</strong></h2>
				</div>
				<div style="background-color:#f0f0f0;">
					<% if current_user.following.any? %>
					<ul id="friend_list" class="message_friends_wrap panel-collapse collapse">
						<li>
							<p class="text-danger">이메일을 클릭하세요.</p>
						</li>
						<%= render current_user.following %>
					</ul>
					<% end %>
				</div>
				<%= javascript_tag do %>
				$('.user_email').on('click',function(event){
					var form_val = $('#recipients_form').val();
					var form_val_split =form_val.split(',');
					var form_val_split_length = form_val_split.length;
					var current_user_email = $(event.currentTarget).html();
					for(var i=0; i<form_val_split_length;i++){
						if(form_val===''){
							$('#recipients_form').val($('#recipients_form').val()+current_user_email);
							}else{
								if(form_val_split[i]===current_user_email){
									alert("이미 추가하셨습니다.")
									return;
									}else{
										if(form_val_split_length==i+1){
											$('#recipients_form').val($('#recipients_form').val()+','+current_user_email);
										}					
									}
								}
							}
						});
						<% end %>
						<div class="">
							<div  class="">
								<%= form_for(:conversation, url: :conversations, method: :post) do |f| %>
								<%= f.label :recipients,'받는사람(친구 목록을 눌러보아요 :)' %>
								<%= f.text_field :recipients,class:"form-control",id:'recipients_form' %>

								<!-- <%= f.label :subject,'제목' %> -->
								<%= f.hidden_field :subject , value: "blanked"  %>

								<%= f.label :body, '전하고 싶은 말', class: "checkbox inline"  %>
								<%= f.text_area :body,class:"form-control" %>         

								<%= f.button '보내기', class: 'btn btn-default' %><!--입력되어진대로 제출한다.-->
								<%= f.button '초기화'	, type: :reset, class: 'btn btn-danger' %><!--입력되어진대로 제출한다.-->
								<!--<%= link_to '뒤로', conversations_path,class:'btn btn-primary'%>-->
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel" id="arcodian">
						<div class="panel-heading" style="background-color:#bbb;">
							<h2 class="accordion-toggle"data-toggle="collapse" data-parent="#accordion" href="#trash" style="cursor:pointer; text-align:center;"><strong>휴지통</strong></h2>
						</div>
						<div>
							<ul id="trash" class="message_friends_wrap panel-collapse collapse">
								<%= render 'trash' %>
							</ul>
						</div>
						
					</div>
				</div>
			</div>


