<div class="row">
	<div class="col-lg-6">
		<div class="panel">
			<div  class="horizon_array_menu_h btn_mail">
				<ul>
					<li class="active">	<h2><strong>메세지 목록</strong></h2></li>
				</ul>
			</div>	
			<div class="conversation_list" style="padding:0 !important;margin-top:54px;">
				<ul class="conversation_list_ul">
					<%@mailbox.conversations.each do |conversation| %>

					<% receipts = conversation.receipts_for current_user %>
					<% last_message = receipts.last.message %>
					<% unless conversation.is_trashed?(current_user) %>
					<% participants = conversation.participants %> <!-- 대화 참여자 -->
					<% is_group = true %>					
					<li class="conversation_list_item">
						<div>
							<span>
								<% if current_user?(conversation.last_message.sender) %>
								<%=gravatar_for_circle2(current_user, size: 50) %>
								<% elsif is_group  %>
								<%=gravatar_for_circle(conversation.last_sender, size: 50) %>
								<%end%>
								<!-- <a href="conversations/<%=conversation.id  %>">
									<span class="text_split">
										<%= conversation.last_message.body  %>
									</span>
								</a> -->
								<%= link_to conversation.last_message.body, conversation_path(conversation),class:"text_split"%>
							</span>
							<span class="index_message_info vertical_array_menu">
								<ul>
									<li>
										<strong>
											<%=time_ago_in_words(conversation.last_message.created_at)%> ago											
										</strong>
									</li>
									<li>
										<span style="float:right;margin:5px;">
										<% if is_read?(last_message) %>
											읽음
										<% end %>
										<i class="label label-warning"><%=count_unread_message_in conversation %></i>
										</span>
									</li>
								</ul>
							</span>
						</div>
						<!-- position:absolute; width:100px;height;100px;top:0;left:0; -->
						<ol>		
							<li>	
							<% participants.each do |participant| %>
								<%unless current_user?(participant) %>
									<% if participants.size  <= 2 %>
									<%=link_to gravatar_for_circle2(participant,size: 50), participant%>
									<% elsif participants.size  <=6 %>
										<%=link_to gravatar_for_circle2(participant,size: 25), participant,style:"height:25px !important;"%>
									<% elsif participants.size  > 6 %>
										<% unless participant.id  >= 6 %>
										<%=link_to gravatar_for_circle2(participant,size: 25), participant,style:"height:25px !important;",class:"accordion-toggle","data-toggle"=>"collapse", "data-parent"=>"#accordion", href:"#user_view"%>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
							</li>
							<li>
								<%= link_to "", trash_conversation_path(conversation),data: { confirm: "휴지통으로 버리시겠습니까?" } ,method: :post,class:'fa fa-trash trash_btn' %>
							</li>
						</ol>
					</li>
					<li>
						<% if participants.size  > 6 %>
							<div class="panel-collapse collapse" id="user_view">
								<% participants.each do |participant| %>
									<%unless current_user?(participant) %>
										<%=link_to gravatar_for_circle2(participant,size: 50), participant%>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</li>
					<% end %>					
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<script>
	var text_split = function(){		
		var text_count = $(".text_split").length;
		for(var i = 0 ; i<=text_count;i++){
			var each_text = $(".text_split:eq("+i+")").text();
			var each_text_length = each_text.length;
			if(each_text_length>=20){
				var text_substr = each_text.substr(0,19)+'...';
				$(".text_split:eq("+i+")").text(text_substr);
			}
		}
	};
	$(text_split);
	$(document).on("page:change",text_split);
	</script>

	<div class="col-lg-6">
		<div class="panel" id="arcodian">
			<div class="panel-heading">
				<h2 class="accordion-toggle"data-toggle="collapse" data-parent="#accordion" href="#friend_list" style="cursor:pointer; text-align:center;"><strong>친구목록</strong></h2>
			</div>
			<div style="background-color:#f0f0f0;">
				<% if current_user.following.any? %>
				<ul id="friend_list" class="message_friends_wrap panel-collapse collapse">
					<li>
						<p class="text-danger">이메일을 클릭하세요.</p>
					</li>
					<%= render current_user.following %>
				</ul>
				<% end %>
			</div>
			<%= javascript_tag do %>
			$('.user_email').on('click',function(event){
				var form_val = $('#recipients_form').val();
				var form_val_split =form_val.split(',');
				var form_val_split_length = form_val_split.length;
				var current_user_email = $(event.currentTarget).html();
				for(var i=0; i<form_val_split_length;i++){
					if(form_val===''){
						$('#recipients_form').val($('#recipients_form').val()+current_user_email);
						}else{
							if(form_val_split[i]===current_user_email){
								alert("이미 추가하셨습니다.")
								return;
								}else{
									if(form_val_split_length==i+1){
										$('#recipients_form').val($('#recipients_form').val()+','+current_user_email);
									}					
								}
							}
						}
					});
					<% end %>
					<div class="">
						<div  class="">
							<%= form_for(:conversation, url: :conversations, method: :post) do |f| %>
							<%= f.label :recipients,'받는사람(친구 목록을 눌러보아요 :)' %>
							<%= f.text_field :recipients,class:"form-control",id:'recipients_form' %>

							<!-- <%= f.label :subject,'제목' %> -->
							<%= f.hidden_field :subject , value: "blanked"  %>

							<%= f.label :body, '전하고 싶은 말', class: "checkbox inline"  %>
							<%= f.text_area :body,class:"form-control" %>         

							<%= f.button '보내기', class: 'btn btn-default' %><!--입력되어진대로 제출한다.-->
							<%= f.button '초기화'	, type: :reset, class: 'btn btn-danger' %><!--입력되어진대로 제출한다.-->
							<!--<%= link_to '뒤로', conversations_path,class:'btn btn-primary'%>-->
							<% end %>
						</div>
					</div>
				</div>
				<div class="panel" id="arcodian">
					<div class="panel-heading" style="background-color:#bbb;">
						<h2 class="accordion-toggle"data-toggle="collapse" data-parent="#accordion" href="#trash" style="cursor:pointer; text-align:center;"><strong>휴지통</strong></h2>
					</div>
					<div>
						<ul id="trash" class="message_friends_wrap panel-collapse collapse">
							<%= render 'trash' %>
						</ul>
					</div>
					
				</div>
			</div>
		</div>


