<div class="row">
	<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading" style="background-color:#d9534f;">
			 	<% conversation.participants.each do |member| %>

			 	 <% unless member == current_user %>
				<%=gravatar_for member %>
				<%= member.name %>
				<% end %> <!-- unless end -->
				<% end %> <!-- do end -->

			</div> 
			<div class="panel-body" style="padding:0 !important;">
				<div class="message_list">
					<ul class="message_list_ul">

						<% conversation.receipts_for(current_user).each do |receipt| %>
						<li class="message_list_item">
							<div class="vertical_array_menu c_l_item_subject">
								<ul>
									<li>
										<% message = receipt.message %>
										<!-- strong>
											<%=message.subject %>
										</strong> -->
										<%if message.sender %> 
										<%= message.sender.name %>
										<%end %>
									</li>
									<li>
										<%= simple_format(message.body) %> 
										<%= message.created_at %>

									<% if conversation.participants.size == 2 %> <!-- 일대일 대화일 경우 -->
										<% if read_counts(message) > 1  %>
										읽음
										<% else %>
										안 읽음
										<% end %>
									<%else %> <!-- 그룹 대화일 경우 -->
									
									<h5> <%=read_counts(message) %>명 읽음</h5>

									<% end %>
									

									</li>
									<li>
										
									</li>
								</ul>
							</div>
							<ol>
								
								<li>
									<%if message.sender %> 
									<%= link_to(gravatar_for(message.sender, size: 40) , message.sender) %>
									<else>
									<!-- 탈퇴한 멤버 -->
									<%end %>
								</li>
								
							</ol>
						</li>
						<% end %>
					</ul>
				</div>	
			</div>
		</div>
		
		
		<%= render 'message/form' , conversation: conversation %>
	</div>