<div class="profile_wrap">
	<p>
		<span><strong><%= current_user.name %></strong>님의 프로필</span>
	</p>
	<!--이미지-->
	<a href="" class="profile"> <%= gravatar_for current_user , size: 210  %></a>
	<!--이미지 end-->

	<!--설정버튼-->
	<script type="text/javascript">
		$(function() {
			$(".tfs_tooltip").tooltip();
		});
	</script>
	<%= link_to '', edit_shelter_path(current_user.shelter),class:"fa fa-cog tfs_tooltip",style: 'position: absolute; top: 0; right: 0; text-decoration:none;margin:5px;',data: {toggle: 'tooltip', placement: 'bottom'},title:'프로필 설정' %>
	<!--설정버튼 end-->

	<!--자기소개-->
	<div class="caption">
		<p class="well">
			<span><%= current_user.shelter.introduce %></span>
		</p>
		
		<div class="profile_btn">
			<p>
				<%= render 'shared/stats' %>
				<%= render 'users/follow_form' if logged_in? %>
			</p>	
		</div>
	</div>
	<!--자기소개 end-->
</div>