<li class="user_list_item">
  <span><%=link_to gravatar_for user %></span><!--  프로필 사진 -->
  <span class="user_name"><%=link_to user.name, user %></span><!--  유저 이름   -->
  <span class="user_email" id="user_email_id_<%= user.id%>"><%= user.email %></span>
  <span class=""><i class="fa fa-circle user_in_out" style="color:rgba(255,0,0,0.5);"></i></span>

   <% if current_user.admin? && !current_user?(user) %>  <!--현재 유저의 admin 값이 true이고 리스팅 될 유저가 현재 유저가 아닐경우  	-->
    | <%= link_to "delete", user, method: :delete,   data: { confirm: "삭제 하시겠습니까?" } %> <!-- 메소드 delete는 http request DELETE  -->
  <% end %>
</li>
