<% provide(:title, "Edit user") %>
<h1>계정설정</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %> <!--form_for(@user)는 new_record? boolean 메소드를 이용하여  true일경우 POST, false일경우 PATCH로 요청   -->
      <%= render 'shared/error_messages', object: f.object %> <!--에러발생시 메세지 출력-->

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">사진변경하러가기</a>
    </div>
  </div>
</div>