<!-- 블로그 리스트 김수겸 14.09.19 -->
<div class="content_re">
  <div class="row">
    <!-- blog side 김수겸 14.09.19 -->
    <div class="col-lg-2">
      <div class="left_wrap">
        <!--profile 김수겸 14.09.18-->
      <%= render 'users/profile'%>
        <!--profile end-->

        <!--blog_map js 김수겸 14.09.16-->
        <script>
          $(function() {
            var state = true;
            $("#spread_btn").click(function() {
              if (state) {
                $("#map_div").animate({
                  height : 300
                }, 500);
              } else {
                $("#map_div").animate({
                  height : 200
                }, 500);
              }
              state = !state;
            });
          });
        </script>
        <!--blog_map js end-->

        <!--blgo_map 김수겸 14.09.18-->
        <div class="row">
          <div class="col-lg-12">
            <div id="map_div" class="blog_map">
              <span class="spread_btn"><i id="spread_btn"class="fa fa-plus-square-o"></i></span>
            </div>
          </div>
        </div>
        <!--blog_map end-->
      </div>
    </div>
    <!-- blog side end -->

    <!--blog_list_wrap 김수겸 14.09.19-->
    <div class="col-lg-10">
      <div class="right_wrap">
        <div class="row">
          <div class="col-lg-12">
            <!--blog_list_top 김수겸 14.09.19--> 
            <div class="blog_list_top">
              <!-- <span style="font-size:20px; font-weight:bold; margin:5px;"></span> -->
              <div class="blog_select_option">
              <span class="common_select_btn_150px">
                <%= select_tag"select_blog_query", options_for_select([["최신등록순",0],["댓글순",1],["추천순",2]]),class:'btn btn-sm btn-default'%>
              </span>
              <span>
                  <%= link_to '새글쓰기',blog_new_path,class:"btn btn-default"%>
              </span>
                         </div>
            </div>
            <!--blog_list_top end-->  
            <hr style="margin-top:0;">
           
            <!--blog_list_content-->
            <div class="inner">
                <input type="hidden" id="current_user_id"data-user_id ="<%= @user.id  %>">
                   <%if @microposts.size ==0%>
                   <a href="/blog_new"><h1>새글을 작성해보세요.</h1></a>                   
                   <% end %>
                  <%= render @microposts %>
            </div>
            <!--blog_list_content end -->

           
            <hr>
            <div class="blog_lsit_bottom">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--blog_list_wrap end-->
  </div>
</div>
<!-- 블로그 리스트 end -->
  
<%= render 'home/blog_comment.js' %>

 <script>
  $(blog_map);
  $(document).on("page:change",blog_map);
 </script>