<h1>상세보기 및 수정</h1>

<table class="table table-hover basket_table">
      <thead>
        <tr>
          <td>주문번호</td>
          <td>상품/옵션정보</td>
          <td>주문자</td>
          <td>받는사람</td>
          <td>주소</td>
          <td>전화번호</td>
          <td>메모</td>
          <td>결제방법</td>
          <td>주문금액</td>
          <td>주문일시</td>
          <td class="">배송상태</td>
        </tr>
      </thead>

      <% purchase = @purchase %>
      <% if @product = purchase.product %>
      <tbody>
        <tr>


          <div class="left_text_align">

            <div class="media">
               <div class="media-body">

              <td>
              <%=purchase.id %>
              </td>
              <td class="left_text_align">
                <div class="media">
                  <a class="pull-left" href="#"> <%= image_tag @product.picture, size:'60x60'%> </a>
                  
                  <div class="media-body">
                    <div>
                      <%=@product.name %>
                    </div>                                  
                  </div>
                </div></td>
              <td><%=purchase.payer %></td>
              <td><%=purchase.receive_name %></td>
              <td><%=purchase.addr %></td>
              <td><%=purchase.phone %></td>
              <td><%=purchase.memo %></td>
              <td>무통장입금<!-- <%= purchase.trade_type  %>  --></td>
              <td><%= purchase.total_cost %>원</td>
              <td><%=purchase.created_at.strftime("%Y년 %m월 %d일") %>   <%= link_to "제품정보", @product  %></td>
              <td>
             
              </td>
              <td>
                <div class="buy_order_btn">
                <input type="text" readonly="true" value= '<%=purchase.status_kr %>' style="width:100px;">
                        
                        
                </div>
              </td>
            
  

                              
            </div>
          </div>
          </tr>
        <% end %>

  <!--buy_list_main end-->
</tbody>
      </table>
    






<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
      
  <% end %>
        <% if current_user?(@purchase.product.user) %>
        
        
       <!--  <%= f.label "수취인" %>
       <%= f.label @purchase.receive_name, class: 'form-control' %>
       <%= f.label "주소" %>
       <%= f.label @purchase.addr, class: 'form-control' %>
       <%= f.label "전화번호" %>
       <%= f.label @purchase.phone , class: 'form-control'%>
        <%= f.label "메모" %>
         <%= f.label @purchase.memo , class: 'form-control' %>
        <%= f.label :total_cost %>
        <%= f.label @purchase.total_cost, class: 'form-control' %>
        <%= f.label "결제방법" %>
        <%= f.label "무통장입금", class: 'form-control'%> 
         <%= f.label "결제자" %>
        <%= f.label  @purchase.payer, class: 'form-control'%>  -->
         
          <%= f.label :status %>
          <%= f.text_field :status , value: @purchase.status_kr %>

      
         <%else%>
         
         <%= f.label :수취인 %>
         <%= f.text_field :receive_name , value: @purchase.receive_name, class: 'form-control' %>
         <%= f.label :주소 %>
         <%= f.text_field :addr, value:@purchase.addr, class: 'form-control' %>
         <%= f.label :전화번호 %>
         <%= f.text_field:phone, value: @purchase.phone, class: 'form-control' %>
         <%= f.label :메모 %>
         <%= f.text_field :memo, value: @purchase.memo , class: 'form-control'%>
         

         <% end %>

         


  <div class="actions">
    <%= f.submit "상태 변경" %>
  </div>
<% end %>
<%= link_to '뒤로가기', sell_list_path %>
</div>
</div>
</div>
  <!--buy_list_main end-->
</div>
</div>