



 
<% if current_user?(@purchase.product.user) %>


<%= render "admin_edit" %>
  <!--buy_list_main end-->

<% else %>
<h1>배송지 수정</h1>
<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
    <% end %>

        
        <%= f.label :수취인 %>
         <%= f.text_field :receive_name , value: @purchase.receive_name, class: 'form-control' %>
         <%= f.label :주소 %>
         <%= f.text_field :addr, value:@purchase.addr, class: 'form-control' %>
         <%= f.label :전화번호 %>
         <%= f.text_field:phone, value: @purchase.phone, class: 'form-control' %>
         <%= f.label :메모 %>
         <%= f.text_field :memo, value: @purchase.memo , class: 'form-control'%>
         


         


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<% end %>
