<%= render 'snb_category'%>
<div id="content">
	<div class="inner">
		<h2 style="padding-top: 17px;padding-bottom:17px;">판매목록</h2>
		<!-- buy_status 김수겸 14.09.21 -->
		<div class="buy_list_top well">
			<p>
				<span><strong><%= current_user.name %></strong></span>님 방가방가
			</p>
			<hr>
			<table class="table status_table ">
				<thead>

					<tr>
						<th>배송중</th>
						<th>포인트</th>
						<th>할인쿠폰</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div>
								<a href="#"><strong>0</strong></a><span>건</span>
							</div></td>
							<td>
								<div>
									<a href="#"><strong>0</strong></a><span>점</span>
								</div></td>
								<td>
									<div>
										<a href="#"><strong>0</strong></a><span>장</span>
									</div></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- buy_status end -->

					<!--date_sort 김수겸 14.09.21-->
					<div class="row">
						<div class="col-lg-12">
							<div class="date_sort">
								<h4>기간별조회</h4>
								<div class="horizon_array_menu_h date_sort_menu ">
									<ul>
										<li>
											<a class="btn btn-info btn-xs btn-line"><strong>1</strong>주일</a>
										</li>
										<li>
											<a class="btn btn-info btn-xs btn-line"><strong>15</strong>일</a>
										</li>
										<li>
											<a class="btn btn-info btn-xs btn-line"><strong>1</strong>개월</a>
										</li>
									</ul>
								</div>
								<div class="horizon_array_menu_h date_sort_menu">
									<ul>
										<li>
											<a id="month1ago" class="btn btn-info btn-xs btn-line"></a>
										</li>
										<li>
											<a id="month2ago" class="btn btn-info btn-xs btn-line"></a>
										</li>
										<li>
											<a id="month3ago" class="btn btn-info btn-xs btn-line"></a>
										</li>
										<li>
											<a id="month4ago" class="btn btn-info btn-xs btn-line"></a>
										</li>
										<li>
											<a id="month5ago" class="btn btn-info btn-xs btn-line"></a>
										</li>
									</ul>
								</div>
								<div class="horizon_array_menu_h date_sort_menu">
									<ul>
										<li>
											<input type="text" id="from_date" name="from_date"
											class="from" value="" readonly="true">
										</li>
										<li>
											~
										</li>
										<li>
											<input type="text" id="to_date" name="to_date" class="to"
											value="" readonly="true">
										</li>
									</ul>
								</div>
								<a id="btn_search" class="date_sort_menu btn btn-warning btn-sm btn-line"><span>조회하기</span></a>
							</div>
						</div>
					</div>
					<!--date_sort end-->
					<hr>
					<!--date_sort js 김수겸 14.09.21-->
					<script type="text/javascript">
					var month_num = function() {
						var d = new Date();
						var m = d.getMonth();

						for (var n = 1; n < 6; n++) {
							var test = $("#month5ago strong").text();

							/*page change 로 인해 포문이 중첩실행 된다. 그를 방지하기 위한 코드*/
							if (test) {
								return;
							}
							var month = document.getElementById("month" + n + "ago");
							var strong = document.createElement("strong");
							var textnode = document.createTextNode("월");

							strong.innerHTML = m--;

							month.appendChild(strong);
							month.appendChild(textnode);
						}
						/* month.innerHTML = "월"; */

					}
					$(month_num);

					var datepicker = function() {
						/*datepicker*/

						$(".from").datepicker({
							defaultDate : "+1w",
							changeMonth : true,
							numberOfMonths : 2,
							onClose : function(selectedDate) {
								$(".to").datepicker("option", "minDate", selectedDate);
							}
						});
						$(".to").datepicker({
							defaultDate : "+1w",
							changeMonth : true,
							numberOfMonths : 2,
							onClose : function(selectedDate) {
								$(".from").datepicker("option", "maxDate", selectedDate);
							}
						});
					};
					/*datepicker*/
					$(datepicker);
					</script>
					<!--date_sort js end-->

					<!--sell_list_main 김수겸 14.09.21-->
					<div class="sell_list_main">
					<div class="sell_list_table">
		

	

		<table class="table table-hover basket_table">
			<thead>
				<tr>
					<td>주문번호</td>
					<td>상품/옵션정보</td>
					<td>주문자</td>

					<td>주문금액</td>
					<td>주문일시</td>
					<td>수정/삭제</td> 
					<td class="">배송상태</td>
				</tr>
			</thead>
			<script>
			$(function() {
				$('#total_checkbox').click(function() {
					$('.sub_checkbox').prop('checked', this.checked);
					call_display_price();
				});
			});
			</script>
			<tbody>
		


				<%@purchases.each do |purchase| %>
				<% @product = purchase.product  %>
				
				<tr>


					<div class="left_text_align">

						<div class="media">
						   <div class="media-body">

							<td>
							<%=purchase.id %>
							</td>
							<td class="left_text_align">
								<div class="media">
									<a class="pull-left" href="#"> <%= image_tag @product.picture, size:'60x60'%> </a>
									
									<div class="media-body">
										<div>
											<%=@product.name %>
											<% if purchase.option %>
											<%=purchase.option %> : <%= purchase.detail %>
											<% end %>

										</div>                                  
									</div>
								</div></td>
							<td><%=purchase.payer %></td>
							
							<td><%= purchase.total_cost %>원</td>
							<td><%=purchase.created_at.strftime("%Y년 %m월 %d일") %>   <%= link_to "제품정보", @product  %></td>
							<td>
							<div class="buy_order_btn">

							<% if purchase.status == 5 %>

							<%= link_to '삭제', purchase_path(purchase), method: :delete,  
							data: { confirm: '삭제 할까요?' }, class:'btn btn-warning'  %>

							<% else %>
							<%= link_to '상세보기/수정', edit_purchase_path(purchase), class:'btn btn-warning'  %>

							
						

							<% end %>
										
							</div>
							</td>
							<td>
								<div class="buy_order_btn">
								<input type="text" readonly="true" value= '<%=purchase.status_kr %>' style="width:100px;">
												
												
								</div>
							</td>
						
	

														  
						</div>
					</div>
					</tr>
				


				<% end %>
			</tbody>
			</table>
		</div>

					</div>

			<!-- <li><a href="#on_shipping_merchandise" data-toggle="tab">배송중상품</a></li>
			<li><a href="#shipping_complete_merchandise" data-toggle="tab">배송완료상품</a></li> -->

			<!--전체-->

			<!-- 
주문번호</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>주문자</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>결제방법</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>주문금액</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>주문상태</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>주문일시</td>
	  <td style=font-family:Tahoma;font-size:8pt;font-weight:bold;>수정/삭제</

	  -->
	
				<!-- <c:forEach begin="1" end="3" step="1"> -->

				
				<span class="buy_order_btn">

             

				<!-- 교택님이 수정한 부분 -->
				
			