	<div id="blog_comment_wrap_toggle" class="blog_comment_wrap" style="display:none;">
		<!--댓글 wrap 김수겸 14_09_14-->
		<div class="row">
			<div class="col-lg-12">
				<div class="comment_wrap">
					<div class="chat-panel panel panel-primary">
						<!--댓글 wrap head 김수겸 14_09_15-->
						<div class="panel-heading">
							<i class="fa fa-comments"></i>
							<div class="horizon_array_menu_h comment_menu">
								<script type="text/javascript">
									$(function() {
										$(".tfs_tooltip").tooltip();
									});
								</script>
								<ul class=" ">
									<li>
										<a class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="칭추할거면 클릭"> <i class="fa fa-star" style="padding-right:10px;"></i> </a>
									</li>
									<li>
										<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="신고할거면 클릭"> <i class="fa fa-tty"></i> </a>
									</li>
									<li>
										<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="이 포스팅에 대한 알람을 받을거면 클릭"> <i class="fa fa-bell"></i> </a>
									</li>
									<li>
										<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="추천하셈"> <i class="fa fa-thumbs-up"></i> </a>
									</li>

								</ul>
							</div>
						</div>
						<!--댓글 wrap head end-->

						<!--댓글 wrap body 김수겸 14_09_14-->
						<div class="panel-body">
							<ul class="chat">
								<li class="left clearfix">
									<span class="chat-img pull-left"> <%= image_tag "sample.PNG", size: "50x50",class:"img-circle" %> </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font"> 노찌롱 </strong>
											<small class="pull-right text-muted"> <i class="icon-time"></i> 12 mins ago </small>
										</div>
										<br>
										<p>
											긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정
										</p>
									</div>
								</li>
								<li class="left clearfix">
									<span class="chat-img pull-left"> <%= image_tag "sample.PNG", size: "50x50",class:"img-circle" %> </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font"> 노찌롱 </strong>
											<small class="pull-right text-muted"> <i class="icon-time"></i> 12 mins ago </small>
										</div>
										<br>
										<p>
											긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정
										</p>
									</div>
								</li>
								<li class="left clearfix">
									<span class="chat-img pull-left"> <%= image_tag "sample.PNG", size: "50x50",class:"img-circle" %> </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font"> 노찌롱 </strong>
											<small class="pull-right text-muted"> <i class="icon-time"></i> 12 mins ago </small>
										</div>
										<br>
										<p>
											긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정
										</p>
									</div>
								</li>
								<li class="left clearfix">
									<span class="chat-img pull-left"> <%= image_tag "sample.PNG", size: "50x50",class:"img-circle" %> </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font"> 노찌롱 </strong>
											<small class="pull-right text-muted"> <i class="icon-time"></i> 12 mins ago </small>
										</div>
										<br>
										<p>
											긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정
										</p>
									</div>
								</li>
								<li class="left clearfix">
									<span class="chat-img pull-left"> <%= image_tag "sample.PNG", size: "50x50",class:"img-circle" %> </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font"> 노찌롱 </strong>
											<small class="pull-right text-muted"> <i class="icon-time"></i> 12 mins ago </small>
										</div>
										<br>
										<p>
											긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정긍정
										</p>
									</div>
								</li>

							</ul>
						</div>
						<!--댓글 wrap body end-->

						<!--댓글 wrap footer 김수겸 14_09_14-->
						<div class="panel-footer">
							<div class="input-group">
								<input id="btn-input" type="text" class="form-control input-sm" placeholder="말은 그 무엇보다 강려크하다">
								<span class="input-group-btn">
									<button class="btn btn-warning btn-sm" id="btn-chat">
										입력
									</button> </span>
							</div>
						</div>
						<!--댓글 wrap footer end-->
					</div>
				</div>
			</div>
		</div>
		<!--댓글 wrap end-->
	</div>

<script type="text/javascript">
	var eventClientX;
	var window_height=$(window).height()-1;
	$(function() {		
		$("div").mousemove(function(event) {
			eventClientY = event.clientY;
			console.log(eventClientY);
			console.log(window_height+"(window)");
			if (eventClientY == (window_height)) {
				/*eventInterval = setTimeout("$(function(){$('#mini_nav_toggle').show('slide',{direction:'left'},500)})", 500);*/
				$(function() {
					$('#blog_comment_wrap_toggle').show('slide', {
						direction : 'right'
					}, 200)
				});
				return;
			}
		});

		$("#blog_comment_wrap_toggle").mouseleave(function() {
			$(this).hide('slide', {
				direction : 'right'
			}, 200)
		});
	}); 
</script>