<% unless shopping_cart_item.item.nil? %>
<tr class='deal_length' data-deal_id="<%= shopping_cart_item.item.id%>"
	data-deal_qty="<%= shopping_cart_item.quantity%>"
	data-deal_price='<%=number_with_delimiter shopping_cart_item.item.price %>'>
	<td><input type="checkbox" name="opt[selected][]"
		data-deal_id="<%= shopping_cart_item.item.id%>" class="sub_checkbox"
		value="" point_benefit="0" checked="checked"></td>

	<td class="left_text_align">
		<div class="media">
			<a class="pull-left" href="#"> <%= image_tag shopping_cart_item.item.picture,size:'60x60'%>
			</a>
			<div class="media-body">
				<div>
					<%=link_to shopping_cart_item.item.name , product_path(shopping_cart_item.item.id) %>
				</div>
				<div class="vertical_array_menu">
					<ul>
						<li><a href="" class="btn btn-default btn-xs">옵션변경/추가</a></li>
						<li><span><strong>[옵션1]</strong></span> <span>개당 : <strong
								class="apop_price"
								data-deal_id="<%= shopping_cart_item.item.id%>"></strong>원
						</span></li>
					</ul>
				</div>
			</div>
		</div>
	</td>
	<td>
		<div>
			<input type="text" readonly="true" name="opt[qty][]" id="modi_qty"
				data-deal_id="<%= shopping_cart_item.item.id%>" value="<%= shopping_cart_item.quantity%>" title="수량">
		</div>
		<div>
			<a class="btn btn-default btn-sm qty_change"
				data-deal_id="<%= shopping_cart_item.item.id%>">변경</a>
		</div>
	</td>
	<td>
		<div>
			<span><strong class="total_price"
				data-deal_id="<%= shopping_cart_item.item.id%>"></strong>원</span>
		</div>
	</td>
	<td>
		<div>
			<span class="deal_ship_price_<%= shopping_cart_item.item.id%>"></span>
		</div>
		<div>
			<a href="">sellername</a>
		</div>
	</td>

	<td>
		<div class="buy_order_btn">

			<%= link_to '구매하기', new_purchase_path(:id => shopping_cart_item.item.id, :order => 'goods'),class:'btn btn-default'  %>
		</div>		
		<div class="buy_order_btn">
			<%= link_to "제거", { action: "destroy", id: shopping_cart_item.item.id},
                                method: :delete, data: { confirm: "Are you sure?" },class:'btn btn-default btn-xs' %>
		</div>
	</td>
</tr>
<% end %>