<%= render 'sell_and_buy/snb_category'%>
<div id="content">
	<div class="inner">
		<!--basket 김수겸 14.09.22-->
		<div class="basket_body">
			<h1 id="test">장바구니</h1>
<h1>Shopping Cart</h1>

<%= render :partial => 'shopping_cart_item', :collection => @cart.shopping_cart_items %>

<div>
  <div><b>합계</b><%= number_with_precision @cart.subtotal , precision: 0 %></div>
  <div><b>부가세:</b><%=number_with_precision @cart.taxes, precision: 0 %></div>
  <div><b>총 :</b><%= number_with_precision @cart.total, precision: 0, delimiter: "," %>원</div>
			<table class="table table-hover basket_table">
				<thead>
					<tr>
						<td>
						<input type="checkbox" id="total_checkbox" checked="checked">
						</td>
						<td>상품/옵션정보</td>
						<td>수량</td>
						<td>상품금액</td>
						<td>배송비</td>
						<td class="">주문</td>
					</tr>
				</thead>

				<tbody>
					<!-- <c:forEach begin="1" end="3" step="1"> -->
					<tr>
						<td><!-- <input type="checkbox" class="sub_checkbox" value="1000" name="opt[selected][]"> -->
						<input type="checkbox" name="opt[selected][]"  data-deal_id="343482" class="sub_checkbox" value="" point_benefit="0" checked="checked">
						</td>

						<td class="left_text_align">
						<div class="media">
							<a class="pull-left" href="#"> <%= image_tag '11111.PNG',size:'60x60'%> </a>
							<div class="media-body">
								<div>
									상품제목을 여기에
								</div>
								<div class="vertical_array_menu">
									<ul>
										<li>
											<a href="" class="btn btn-default btn-xs">옵션변경/추가</a>
										</li>
										<li>
											<span><strong>[옵션1]</strong></span>
											<span>개당 : <strong class="apop_price" data-deal_id="343482"></strong>원</span>
										</li>
									</ul>
								</div>
							</div>
						</div></td>
						<td>
						<div>
							<input type="text" readonly="true" name="opt[qty][]" id="modi_qty" data-deal_id="343482" value="1" title="수량">
						</div>
						<div>
							<a class="btn btn-default btn-sm qty_change"  data-deal_id="343482">변경</a>
						</div></td>
						<td>
						<div>
							<span><strong class="total_price" data-deal_id="343482"></strong>원</span>
						</div></td>
						<td>
						<div>
							<span class="deal_ship_price_343482"></span>
						</div>
						<div>
							<a href="">sellername</a>
						</div></td>

						<td >
						<div class="buy_order_btn">
							<a href="" class="btn btn-warning btn-xs">주문하기</a>
						</div>
						<div class="buy_order_btn">
							<a href="" class="btn btn-default btn-xs">위시리스트</a>
						</div>
						<div class="buy_order_btn">
							<a href="" class="btn btn-default btn-xs">삭제하기</a>
						</div></td>
					</tr>
					<tr>
						<td><!-- <input type="checkbox" class="sub_checkbox" value="1000" name="opt[selected][]"> -->
						<input type="checkbox" name="opt[selected][]"  data-deal_id="353316" class="sub_checkbox" value="" point_benefit="0" checked="checked">
						</td>

						<td class="left_text_align">
						<div class="media">
							<a class="pull-left" href="#"> <%= image_tag '11111.PNG',size:'60x60'%> </a>
							<div class="media-body">
								<div>
									상품제목을 여기에
								</div>
								<div class="vertical_array_menu">
									<ul>
										<li>
											<a href="" class="btn btn-default btn-xs">옵션변경/추가</a>
										</li>
										<li>
											<span><strong>[옵션1]</strong></span>
										<span>개당 : <strong class="apop_price" data-deal_id="353316"></strong>원</span>
										</li>
									</ul>
								</div>
							</div>
						</div></td>
						<td>
						<div>
							<input type="text" readonly="true" name="opt[qty][]" id="modi_qty" data-deal_id="353316" value="1" title="수량">
						</div>
						<div>
							<a class="btn btn-default btn-sm qty_change" data-deal_id="353316">변경</a>
						</div></td>
						<td>
						<div>
							<span><strong class="total_price" data-deal_id="353316"></strong>원</span>
						</div></td>
						<td>
						<div>
							<span class="deal_ship_price_353316"></span>
						</div>
						<div>
							<a href="">sellername</a>
						</div></td>

						<td >
						<div class="buy_order_btn">
							<a href="" class="btn btn-warning btn-xs">주문하기</a>
						</div>
						<div class="buy_order_btn">
							<a href="" class="btn btn-default btn-xs">위시리스트</a>
						</div>
						<div class="buy_order_btn">
							<a href="" class="btn btn-default btn-xs">삭제하기</a>
						</div></td>
					</tr>

					<!-- </c:forEach> -->
				</tbody>
			</table>
		</div>
		<!--상품리스트 js 김수겸 14.09.26-->
		<script type="text/javascript">
			var popup_modal = function() {
				$(".qty_change").click(function(e) {
					var divTop = e.clientY - 25;
					var divLeft = e.clientX - 10;

					$('#popup_modal_wrap').css({
						"top" : divTop,
						"left" : divLeft,
						"position" : "absoulte"
					}).show();
				});
				$('#popup_modal_wrap').mouseleave(function() {
					$("#popup_modal_wrap").hide();
				});
			}
			$(popup_modal);
			$(document).on('page:change', popup_modal);
		</script>
		<!--상품리스트 js end-->
		<%= render 'popup_modal' %>
		<hr>
		<div class="price_wrap">
			<span>주문금액</span><span id="total_price_org"></span><span>+</span><span>배송비</span><span class="total_ship_price"></span><span>=</span><span>결제예정금액</span><span id="total_price"></span>
		</div>
		<!--basket end-->

		<!--basket js 김수겸 14.09.22-->
		<script type="text/javascript">

			var basket = function() {		

				
			



				//전체체크박스
				$('#total_checkbox').click(function() {
					$('.sub_checkbox').prop('checked', this.checked);
					call_display_price();
				});

				// 상품체크박스
				$(".sub_checkbox:checkbox").click(function() {
					call_display_price();
				});

				call_display_price();
			}
			$(basket);
			$(document).on("page:change", basket);

			// 옵션 ,딜 삭제
			function delete_option(mode, idx) {
				var txt;
				if (mode == 'option') {
					txt = $('.option_title_' + idx).text();
				} else {
					txt = $('.deal_title_' + idx).text() + "\r\n옵션이 모두삭제됩니다.";
				}

				if (confirm(txt + "\r\n삭제하시겠습니까?")) {
					$.ajax({
						type : "POST",
						url : "/order/cart_option_delete",
						data : "mode=" + mode + "&idx=" + idx,
						success : function(data) {
							location.href = "/order/cart";
						}
					});
				}
			}

			// 총합계산
			function call_display_price() {
				//옵션별 합계
				//합계를 기준으로 배송비 계산
				//종합 가격 정보

				tot = {};
				tot['deal'] = {}
				tot['total_price'] = 0;
				tot['total_ship_price'] = 0;
				
				$('input[name="opt[selected][]"]:checked').each(function() {
					var deal_id = $(this).attr('data-deal_id');
					var qty = parseInt($('input[name="opt[qty][]"][data-deal_id="' + deal_id + '"]').val());

					if (tot.deal[deal_id] == undefined) {
						tot.deal[deal_id] = {};
						tot.deal[deal_id]['qty'] = 0;
						tot.deal[deal_id]['price'] = 0;
					}

					var option_price = parseInt(deal_info[deal_id]['deal']['option_price_sale']);
					
					tot.deal[deal_id]['qty'] += qty;
					tot.deal[deal_id]['price'] += option_price * qty;
					tot['total_price'] += option_price * qty;
				});

				for (var deal_id in tot['deal'] ) {
					var ship_free = false;
					var ship_price = parseInt(deal_info[deal_id]['deal']['price_ship']);
					var ship_price_type = parseInt(deal_info[deal_id]['deal']['ship_price_type']);
					var apop_price = parseInt(deal_info[deal_id]['deal']['option_price_sale']);
					//배송조건 : 0:무료,1:유료
					var deal_sum = parseInt(tot['deal'][deal_id]['price']);
					
					$('strong.total_price').each(function() {
						if ($(this).attr('data-deal_id') == deal_id) {
							$(this).text(number_format(deal_sum));
						}
					});
					$('strong.apop_price').each(function() {
						if ($(this).attr('data-deal_id') == deal_id) {
							$(this).text(number_format(apop_price));
						}
					});

					if (parseInt(deal_info[deal_id]['deal']['ship_price_type']) != 1) {
						ship_free = true;
					}

					if (ship_free) {
						tot['deal'][deal_id]['ship_price'] = 0;
						tot['total_ship_price'] += 0;

					} else {
						tot['deal'][deal_id]['ship_price'] = ship_price;

						tot['total_ship_price'] += ship_price;

					}

					if (ship_price_type == 0) {
						$('.deal_ship_price_' + deal_id).text('무료');
					} else {
						var shipPriceHtml = number_format(tot['deal'][deal_id]['ship_price']) + "원";
						$('.deal_ship_price_' + deal_id).html(shipPriceHtml);
					}

					$(".num_" + deal_id).text(number_format($(".num_" + deal_id).text()));

				}

				var cart_sum_amount = tot['total_price'];

				var cart_sum_ship = tot['total_ship_price'];

				var cart_sum_payment = cart_sum_amount + cart_sum_ship;
				// 결제 예정금

				$("#total_price_org").text(number_format(cart_sum_amount));
				$(".total_ship_price").text(number_format(cart_sum_ship));
				$("#total_price").text(number_format(cart_sum_payment));

				function number_format(str1) {
					return str1.toString().replace(/(\-?\d+)(\d{3})($|\.\d+)/, function(str, p1, p2, p3) {
						return number_format(p1) + "," + p2 + "" + p3;
					});
				}

			}

			/*var deal_info = {
				"353316" : {					
					"deal" : {
						"deal_id" : "353316",						
						"qty" : "1",
						"option_price_sale" : "7900",
						"price_ship" : "2500",
						"ship_price_type" : "1"						
					}
				},

				"343482" : {
					"deal" : {
						"deal_id" : "343482",						
						"qty" : "1",
						"option_price_sale" : "3880",
						"price_ship" : "2500",
						"ship_price_type" : "1"						
					}
				}
			};*/
		
			var deal_info = {};
			deal_info['353316'] = {};
			deal_info['353316']['deal']= {};	
			deal_info['353316']['deal']['deal_id'] = '353316';
			deal_info['353316']['deal']['qty'] = '1';
			deal_info['353316']['deal']['option_price_sale'] = '3880';
			deal_info['353316']['deal']['price_ship'] = '2500';
			deal_info['353316']['deal']['ship_price_type'] = '1';

			deal_info['343482'] = {};
			deal_info['343482']['deal']= {};		
			deal_info['343482']['deal']['deal_id'] = '343482';
			deal_info['343482']['deal']['qty'] = '1';
			deal_info['343482']['deal']['option_price_sale'] = '7900';
			deal_info['343482']['deal']['price_ship'] = '2500';
			deal_info['343482']['deal']['ship_price_type'] = '1';
			

			/*deal_infO
			 for문 이용해서 장바구니에 등록된 아이템들 정보 배열로 정리
			 */
			 var a =1;
				var b =2;
				var c =3;
				var d =4;

				for (var i = 0; i < 5; i++) {
					var test_info = {};
					deal_info[a+i] = {};
					deal_info[a+i]['deal']= {};	
					deal_info[a+i]['deal']['deal_id'] = d+i;
					deal_info[a+i]['deal']['qty'] = d+i;
					deal_info[a+i]['deal']['option_price_sale'] = 1000+i;
					deal_info[a+i]['deal']['price_ship'] = d+i;
					deal_info[a+i]['deal']['ship_price_type'] = d+i;					
				};
			

		</script>
		<!--total_price js end-->
		<hr>		
		<div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<span><a href="/"class="btn btn-default btn-lg">쇼핑계속하기</a></span>
					<span><a class="btn btn-warning btn-lg">전체주문</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
