<h2><%= params[:bulletin_id] %></h2>

<table class='table'>
<tr>
  <th>Title</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>Content</th>
  <td><%= @post.content %></td>
</tr>
<tr>
  <th>Tag list</th>
  <td><%= tag_icons @post.tag_list %></td>
</tr>
<tr>
  <th>Created at</th>
  <td><%= @post.created_at %></td>
</tr>
<% if @post.bulletin.post_type == "gallery" %>
  <tr>
    <th>Picutre</th>
    <td><%= image_tag @post.picture_url %></td>
  </tr>
<% end %>
</table>


<a href="/posts?bulletin_id=<%=@post.bulletin.id  %>" class="btb btb-default">back</a>

<%= render "commentboards/commentboards" %>
