<div class="container"style="margin-top:5px;">
  <!-- <h1><%= params[:bulletin_id] %></h1> -->
  <div style='position: absolute;right:0;top:0;'>
    <%= link_to '뒤로', shelter_bulletins_path(@bulletin.shelter), class: 'btn btn-default btn-lg' %>
    <%= link_to '새글쓰기', new_post_path(bulletin_id: @bulletin), class: 'btn btn-default btn-lg'%>
  </div>
  <div class="col-lg-12"style="margin-top:50px;">
    <div class=" dadan_2">
      <% @posts.each do |post| %>
      <div class="media post_list_item">
        <a class="pull-left" href=""> <!--img-->  </a>   
        <div class="media-body">
          <h4 class="media-heading">
            <strong><%= link_to post.title, post%></strong>
            <span class="blog_timestamp">
              <span><i class="fa fa-comment"></i></span>
              <span><%= post.commentboards.size %></span>
              <%= link_to '', edit_post_path(post), class:'fa fa-cog'%>
              <%= link_to '', post, method: :delete, remote: :true,  data: { confirm: '삭제하시겠습니까?' }, class:'fa fa-times'%>
            </span>            
          </h4>
          <!-- <%= post.id %> -->
          <span class="blog_timestamp" style="font-size:10px;"><%=time_ago_in_words(post.created_at)%> ago</span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

