  <!-- blog list -->
  <div class="panel-group" id="arcodian">

    <div class="panel panel-default">
      <div class="media blog_list_item" >
        <%=link_to gravatar_for(micropost.user,size:66), micropost.user,class:'pull-left'%>   
        <div class="media-body">
          <h4 class="media-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=micropost.id%>" target>
              <%=micropost.title%>
            </a>            
          </h4>
          <p><strong><%= micropost.user.name %></strong><p>               

            <div >                              
              <span class="blog_timestamp"style="font-size:10px;"><%=time_ago_in_words(micropost.created_at)%> ago</span>
            </div>
            <div>
              <span><strong><i class="fa fa-thumbs-up"></i></i></strong></span> <span id="like-<%= micropost.id %>"><%= micropost.likes.count %></span>
              &nbsp; <span><strong><i class="fa fa-comment"></i></strong></span>
              <span><%= micropost.comments.count %></span>
              <span id="<%=micropost.id%>"><%= link_to '좋구만', like_micropost_path(micropost), method: :post, remote:true ,class:"btn btn-default btn-xs like_btn"%></span>
            </div>               
          </div>
        </div>

        
        <div id="collapse<%=micropost.id%>" class="panel-collapse collapse">
          <div class="panel-body">
            <div>
              <%=image_tag micropost.picture.url if micropost.picture?%>    
            </div>
            <div>
              <%=micropost.content%>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <div class="comment_wrap">
                  <div class="chat-panel panel panel-default">
                    <!--댓글 wrap head 김수겸 14_09_15-->
                    <div class="panel-heading">
                      <i class="fa fa-comments"></i>
                      <div class="horizon_array_menu_h comment_menu">

                      </div>
                    </div>
                    <!--댓글 wrap head end-->

                    <!--댓글 wrap body 김수겸 14_09_14-->
                    <div class="panel-body" id="micropost-scroll-div-<%=micropost.id %>">
                      <ul class="chat" id="micropost-<%=micropost.id %>" >

                        <%= render micropost.comments %>
                        
                      </ul>
                    </div>

                    <%= render 'comments/form' , micropost: micropost %>

                    <!--댓글 wrap footer end-->
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      
    </div> 
    <!-- blog list end-->    

