
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div id="product_<%= product.id %>" class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<a href="/products/<%= product.id %>"style="cursor:pointer;"><%= image_tag product.picture.url , size: "224x224" if product.picture?%>
			</a>
		<div class="caption">
		<h3><%= link_to product.name, controller: "products", action: "show", id: product.id %></h3>
		<p>
            <strong><%= product.price %></strong>원
          </p>  
          <p>
          	<%= link_to '장바구니', cart_path(:id => product.id  ,:amount => 1) , method: :post,class:'btn btn-primary'  %>
          	<%= link_to '구매하기', new_purchase_path(:id => product.id),class:'btn btn-default'  %>
          	<%if current_user?(product.user)%>  
          	<%= link_to '삭제', product, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-warning' %>
          	<%end%>            
          </p>
          <p><span class="timestamp"> updated <%= time_ago_in_words(product.created_at) %>
			ago.
		</span></p>
		</div>
		<!-- <span class="content">내용:<%= product.content %></span> --> 		
	</div>
</div>



