<%= render 'sell_and_buy/snb_category'%>
<% if logged_in? %>
<% provide(:title, '상품추가') %>
<div class="row">
  <div class="col-md-6">
  
    <%= form_for :product , url: { action: "create" }, html: { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: @product %>


  <div class="form-group">
    <%= f.label :name ,'상품명',class:'col-lg-2  control-label '  %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control',id:"name" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price,'상품가격',class:'col-lg-2  control-label ' %>
    <div class="col-lg-10">
      <%= f.text_field :price, class: 'form-control',id:"price" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity,'상품수량',class:'col-lg-2  control-label ' %>
    <div class="col-lg-10">
      <%= f.text_field :quantity, class: 'form-control',id:"quantity" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content , '내용',class:'col-lg-2  control-label ' %>
    <div class="col-lg-10">
      <%= f.text_area :content , class: 'form-control',id:"_content" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category,'카테고리',class:'col-lg-2  control-label ' %>
    <div class="col-lg-10">
      <%= f.select :category, options_for_select([['음식', '음식'], ['옷', '옷'],['가구', '가구'],['가전', '가전']], 1), {}, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :option1 , "옵션1" ,class:'col-lg-2  control-label ' %>
    <div class="col-lg-10">
      <%= f.text_field :option1 , class: 'form-control',id:"option1" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :detail1 ,'상세옵션', class:'col-lg-2  control-label ' %>

    <div class="col-lg-10">
      <div class="input-group">
          <input name="reservation" id="detail1_text" class="form-control" type="text">
          <span class="input-group-addon" id="detail1_add_btn" style="cursor:pointer;"><i class="fa fa-plus"></i></span>
          <span class="input-group-addon" id="detail1_del_btn" style="cursor:pointer;"><i class="fa fa-refresh"></i></span>
      </div>
      <div class="chat-panel">
          <div class="panel-body">
            <div class="prodcut_ad_option">
              <ul class="prodcut_ad_option_ul"><!-- 
                 <li class='prodcut_ad_option_item'id='detail1_"+deatail_index+"'>
                 <div class='ad_option_text'>ddd
                 </div>
                 <div class='ad_option_del_btn'style='cursor:pointer;' >
                 <a class='fa fa-trash ad_option_del_icon'></a>
                 <a class='fa fa-pencil ad_option_modi_icon accordion-toggle'href="#a123"data-toggle="collapse" data-parent="#accordion"></a>
                 </div>
                 </li>
                 <li class="panel-collapse collapse" id="a123">
                   <div class="input-group">
                        <input name="reservation" id="detail1_text" class="form-control" type="text">
                        <span class="input-group-addon" id="detail1_add_btn" style="cursor:pointer;"><i class="fa fa-gavel"></i></span>
                    </div>
                 </li> -->
              </ul>
            </div>
          </div>
      </div>
      <%= f.hidden_field :detail1,id:"hidden_detail1"%>
    </div>
  </div>

<script>
  var deatail_index = 0; 

  $("#detail1_add_btn").on("click",function(){
    var detail1_text = $("#detail1_text").val();
    if(detail1_text===""){
      alert("비었다");
      return;
    }
    $(".prodcut_ad_option_ul").append("<li class='prodcut_ad_option_item'id='detail1_"+deatail_index+"'>"
      +"<div class='ad_option_text'>"
      +detail1_text
      +"</div>"
      +"<div class='ad_option_del_btn'style='cursor:pointer;'>"
      +"<a class='fa fa-trash ad_option_del_icon' id='"+deatail_index+"'></a>"
      +"<a class='fa fa-pencil ad_option_modi_icon accordion-toggle'href='#modi_form_"+deatail_index+"'data-toggle='collapse' data-parent='#accordion'></a>"
      +"</div>"
      +"</li>"
      +"<li class='panel-collapse collapse' id='modi_form_"+deatail_index+"'>"
      +"<div class='input-group modi_form'>"
      +"<input id='modi_text_"+deatail_index+"' class='form-control' type='text'>"
      +"<span class='input-group-addon modi_btn' id='modi_btn_"+deatail_index+"' style='cursor:pointer;'><i class='fa fa-gavel'></i></span>"
      +"</div>"
      +"</li>"
      );
    var hidden_dtail1_length = $(".prodcut_ad_option_item").length;
    if(hidden_dtail1_length==1){
      $("#hidden_detail1").val($("#hidden_detail1").val()+detail1_text);
    }else{
      $("#hidden_detail1").val($("#hidden_detail1").val()+","+detail1_text);
    }
    $("#detail1_text").val("");
    deatail_index++;
  });

  $("#detail1_del_btn").on("click",function(){
    if($("#hidden_detail1").val()===''){
      alert("등록된 상세옵션이 없습니다.")
      return;
    }
    var result = confirm('옵션을 초기화하시겠습니까?');
    if(!result) {
           return;
    }
    deatail_index = 0;
    $(".prodcut_ad_option_ul").html("");
    $("#hidden_detail1").val("");
  });

  $(".prodcut_ad_option_ul").delegate(".ad_option_del_icon","click",function(event){
    var detail1_del = confirm("정말 옵션을 삭제하시겠습니까?");
    if(!detail1_del){
      return;
    }
    var current_Target = $(event.currentTarget);
    var current_id = current_Target.attr("id");
    var current_text = $("#detail1_"+current_id).find(".ad_option_text").text();
     $("#detail1_"+current_id).remove();
     $("#modi_form_"+current_id).remove();
     refresh_detail1_val();
  });
  $(".prodcut_ad_option_ul").delegate(".modi_btn","click",function(event){
      var modi_current_Target = $(event.currentTarget);
      var modi_btn_id = modi_current_Target.attr("id");
      var modi_btn_id_number = modi_btn_id.replace(/[^0-9]/g, "");
      var modi_text = $("#modi_text_"+modi_btn_id_number).val();
      if(modi_text===""){
        alert("빈칸은 앙대영");
        return;
      }
      var modified_text = $("#detail1_"+modi_btn_id_number).find(".ad_option_text").text(modi_text);      
      var modi_text = $("#modi_text_"+modi_btn_id_number).val("");
      $("#modi_form_"+modi_btn_id_number).slideUp('fast');
      refresh_detail1_val();
  });
  function refresh_detail1_val(){
    var remain_dtail1_length = $(".prodcut_ad_option_item").length;
     if(remain_dtail1_length==0){
      $("#hidden_detail1").val("");
     }else{
      $("#hidden_detail1").val("");
      for(var i=0;i<remain_dtail1_length;i++){
        var remain_detail = $(".prodcut_ad_option_item").eq(i).find("div").text();
        if(i==0){
          $("#hidden_detail1").val($("#hidden_detail1").val()+remain_detail);
        }else{
          $("#hidden_detail1").val($("#hidden_detail1").val()+","+remain_detail);
        }
      }
     }
  }
  function hidden_detail1_reset(){
    $("#hidden_detail1").val("");    
  }
  $(hidden_detail1_reset);
</script>


 
  <div class="form-group">
    <%= f.label '메인 이미지',class:'col-lg-2  control-label' %>
    <div class="col-lg-10">
      <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
              <div>
                <span class="btn btn-file btn-success"><span class="fileupload-new">이미지선택</span><span class="fileupload-exists">수정</span><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></span>
                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">삭제</a>
              </div>
     </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label '상세 이미지',class:'col-lg-2  control-label' %>
    <div class="col-lg-10">
      <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
              <div>
                <span class="btn btn-file btn-success"><span class="fileupload-new">이미지선택</span><span class="fileupload-exists">수정</span><%= f.file_field :picture2, accept: 'image/jpeg,image/gif,image/png' %></span>
                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">삭제</a>
              </div>
     </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "상품등록", class: "btn btn-primary",id:"product_reg_btn"%>
    </div>
  </div>
   <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $('#product_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size / 1024 / 1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
      //5mb 이상 사이즈시 에러메세지
    }
  });
<% end %>
<% end %>

