<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="content_re">
	<div class="row">
		<!--좌측 wrap-->
		<div class="col-lg-5">
			<div class="left_wrap">
				<!--댓글 wrap 김수겸 14_09_14-->
				<div class="row">
					<div class="col-lg-12">
						<div class="info_view_comment" id="info_view_comment">
							<div class="chat-panel panel panel-default">
								<!--댓글 wrap head 김수겸 14_09_15-->
								<div class="panel-heading">
									<i class="fa fa-comments"></i>
									<div class="horizon_array_menu_h comment_menu">
										<script type="text/javascript">
										$(function() {
											$(".tfs_tooltip").tooltip();
										});
										</script>
										<ul class=" ">
											<li>
												<a class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="칭추할거면 클릭"> <i class="fa fa-star" style="padding-right:10px;"></i> </a>
											</li>
											<li>
												<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="신고할거면 클릭"> <i class="fa fa-tty"></i> </a>
											</li>
											<li>
												<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="이 아이템에 대한 알람을 받을거면 클릭"> <i class="fa fa-bell"></i> </a>
											</li>
											<li>
												<a  class="tfs_tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="추천하셈"> <i class="fa fa-thumbs-up"></i> </a>
											</li>

										</ul>
									</div>
								</div>
								<!--댓글 wrap head end-->

								<!--댓글 wrap body 김수겸 14_09_14-->
								<div class="panel-body" id="message-scroll-div">
									<ul class="chat"  id="product-<%=@product.id %>">
										<%= render "comments/product_comment" , comments: @product.comments %>
									</ul>
								</div>
								<!--댓글 wrap body end-->

								<!--댓글 wrap footer 김수겸 14_09_14-->
								<div class="panel-footer">
									<div class="input-group">
										<% @comment = @product.comments.build %>
										<%= form_for(@comment,remote: true, :html => { :id => "comment_form" }) do |f| %>
										<% if @comment.errors.any? %>
										<div id="error_explanation">
											<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

											<ul>
												<% @comment.errors.full_messages.each do |message| %>
												<li><%= message %></li>
												<% end %>
											</ul>
										</div>
										<% end %> 
										<%= f.hidden_field :user_id, value: current_user.id %>
										
										<%= f.text_area :content,class:'form-control input-sm',id:"product_comment_text",placeholder:'말은 그 무엇보다 강려크하다',style:'width:100%px;' %>
										<%= f.hidden_field :product_id, value: @product.id  %>
										
										<!-- <%= f.submit('댓글등록',class:'btn btn-default btn-sm',remote: true)%> -->
										<span><a class="btn btn-default" id="product_comment_submit_btn">댓글등록</a></span>
										<span id="product_comment_warning" class="text-danger" style="display:none;">빈칸은 앙대영!!!</span>
										
										<% end %>
									</div>
								</div>
								<!--댓글 wrap footer end-->
								<%= javascript_tag do %>
								$("#product_comment_submit_btn").on("click",function(){
									var comment_form = $("#comment_form");
									var text_area = $("#product_comment_text").val();
									if(text_area===""){
										$("#product_comment_warning").css( "display", "inline" ).fadeOut( 1250 );
										return;
									}    
									comment_form.submit();
									$("#product_comment_text").val("");
								});
								<% end %>

							</div>
						</div>
					</div>
				</div>
				<!--댓글 wrap end-->

				<!--지도 wrap 김수겸 14_09_14-->
				<div class="row">
					<div class="col-lg-12">
						<div class="info_view_map" id="info_view_map">
							<div class="box default" >
								<header style="opacity: 0.7;">
									<h5>지도</h5>
									<div class="toolbar">
										<form method="post" id="main_search" class="form-search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search" id="searchText">
												<span class="input-group-btn">
													<button type="submit" class="btn btn-default btn-sm">
														검색
													</button>&nbsp;&nbsp; </span>
												</div>
											</form>
										</div>
									</header>
									<div id="map_div" class="google-maps">
							<input type="hidden" id="current_user_id"data-user_id ="<%= current_user.id %>">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--지도 wrap end-->					

					<!--커머스 네비게이션-->
					<div class="commerce_nav">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-info" >
									<div class="panel-heading" >
										<%= @product.name %>
										<a href="#info_view_comment" class="btn btn-info btn-circle">댓글</a>
										<a href="#info_view_map" class="btn btn-info btn-circle">지도</a>
										<a href="#top" style="float:right;"><i class="fa fa-angle-double-up" style="padding-top:8px;"></i>맨 위로</a>
									</div>
									<div class="panel-body" style="height:100%; overflow-y:scroll;">
										<!--옵션-->
										<!-- <%= @product.options.each do |option| %>
										
										<div class="deal_info_option_select">
											<div class="option_select">
												<%= select_tag"select_commerce_query", options_for_select([["옵션첫번째",0],["1",1],["2",2]]),class:'btn btn-sm'%>
											</div>
											<div class="option_select">
												<%= select_tag"select_commerce_query", options_for_select([["옵션두번째",0],["1",1],["2",2]]),class:'btn btn-sm'%>
											</div> 
										</div>
										<% end %> -->
										<!--옵션-->
										<hr>
									</div>
									<div class="panel-footer">
										<!--버튼-->
										<div class="deal_info_btn">
											<!-- <%= button_tag(type: 'submit',class:"btn btn-primary") do
												content_tag(:strong, '바로구매!')
												end%>
												<%= button_tag(type: 'submit',class:"btn btn-default") do
													content_tag(:strong, '장바구니')
													end%> -->
												</div>
												<!--버튼-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--커머스 네비게이션 end-->
						</div>
					</div>
					<!--좌측 wrap end-->

					<!--우측 wrap-->
					<div class="col-lg-7">
						<div class="right_wrap">
							<!--아이템 정보창 김수겸 14_09_14-->
							<div class="row">
								<div class="col-lg-12">
									<!--아이템 정보 상단 김수겸 14_09_15-->
									<div class="row">
										<div class="item_top_warp">
											<!--main이미지-->
											<div class="col-lg-6">
												<div class="item_main_image">
													<%= image_tag @product.picture.url , size: "370x400" if @product.picture?%>
												</div>
											</div>
											<!--main이미지end-->

											<!--아이템 가격정보-->
											<div class="col-lg-6" style="padding-top:10px;">
												<div class="item_deal_info">
													<div class="deal_info_head">
														<%= @product.name %>
													</div>
													<hr>
													<div class="deal_info_body">
														<div class="price">
															<span class="item_price"><%= @product.price %></span>
															<span class="won">원</span>
														</div>

														<div class="count">
															<div class="buy_count" id="buy_count">
																<span class="bc_num">남은수량 :<%=@product.quantity  %></span>
																<span class="bc_text">개</span>
															</div>
															<br>
															<div class="sell_count" id="buy_count">
																<span class="bc_num">판매수량 :<%=@product.sell_count  %></span>
																<span class="bc_text">개</span>
															</div>
															<div class="time_count" id="time_count">
																<i class="fa fa-clock-o"></i>
																	<!-- <span class="tc_day">03</span>
																	<span>일</span>
																	<span class="tc_houre">22</span>
																	<span>시</span>
																	<span class="tc_minute">45</span>
																	<span>분</span>
																	<span class="tc_second">16</span>
																	<span>초</span> -->
																	<span
																	class="timestamp"> updated <%= time_ago_in_words(@product.created_at) %>
																	ago.
																</span>
															</div>
														</div>
													</div>

													<hr>
													<% @product.options.each do |option| %>
													<div>

													<%= option.name  %> : <%= select_tag option.id, options_from_collection_for_select(option.details, "id", "name"  )  %>

													</div>

													



													<% end %>


												
												<!--옵션-->
												
													<!--옵션-->
													<hr>
													<!--버튼-->
													<% unless @product.quantity == 0 %>
													<div class="deal_info_btn">
														<%= link_to '카트에 담기', cart_path(:id => @product.id  ,:amount => 1) , method: :post,class:'btn btn-primary'  %>
														<%= link_to '구매하기', new_purchase_path(:id => @product.id, :order => 'goods'),class:'btn btn-default'  %>
													</div>
													<% else %>
													품절
													<% end %>

													<!--버튼-->
												</div>
											</div>
											<!--아이템 가격정보 end-->
										</div>
									</div>
									<!--아이템 정보 상단 end-->

									<!--아이템 정보 하단 김수겸 14_09_15-->
									<div class="iemp_content_warp" style="margin-top:10px;">
										<div class="item_explanation">
											<div class="panel panel-info">
												<div class="panel-heading" style="opacity: 0.9;">
													상품설명
												</div>
												<div class="panel-body horizon_array_menu_h">
													<ul class="well" style="margin-bottom:0 !important; width:100%;">
														<li>
															<%= @product.content %>
														</li>
													</ul>
												</div>
											</div>
										</div>
										
										<div >
										<%= image_tag  @product.picture2.url , class:"item_img" if @product.picture2?%>
										</div>
										
									</div>
									<!--아이템 정보 하단 end-->
								</div>
							</div>
							<!--아이템 정보창 end-->
						</div>
					</div>
					<!--우측 wrap end-->
				</div>
			</div>

		</div>
	</div>
</div>

<script>
var product_info = function() {
	map_env();
	product_info_map();

	var comment_height = $(".info_view_comment").height();
	var map_height = $(".info_view_map").height();
	var sum_height = comment_height + map_height + 30;
	$(window).scroll(function() {
		var document_scroll = $(window).scrollTop();
		if (sum_height < document_scroll) {
			$(".commerce_nav").css({
				"position" : "fixed",
				"top" : "50px",
				"width" : "41%",
				"margin-top" :"2px"

			});
		} else {
			$(".commerce_nav").css({
				"position" : "relative",
				"width" : "100%",
				"top" : "0"
			});
		}
	});
}
$(product_info);
</script>
