<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>  
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  <script  language='javascript' src='https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey=30c68bc1-8813-3f13-9c99-d3660cf91545'></script>
   <!-- <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
     <script src="realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
     <link href="realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" /> -->
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>







  
  <script>
function alram(){
var pusher = new Pusher('a49249ec2328f5c4474d')
var channel = pusher.subscribe('presence-sentar');  //멤버들의 접속상태와 프로필을 담고 있는 채널
channel.bind('pusher:subscription_succeeded', function(members) { //인증이 완료되고 접속이 되었을 경우
var login_user;
var user_name;

 $("#all_users").text(members.count);
  members.each(function(member) {
    login_user = member.info.name;
    $(".user_list_item").each(function(index){
      user_name = $(".user_name:eq("+index+")").text();
      if(user_name==login_user){
        $(".user_in_out:eq("+index+")").css("color",
          "rgba(0,255,0,0.5)"
        );
      }
     
    });
    //add_member(member.id, member.info); 
     var triggered = channel.trigger('client-event', { id: member.id });
  });



})
channel.bind('pusher:member_added', function(member) {



 var in_member_id = member.id;
 $("#user_in_out_"+in_member_id).css("color","rgba(0,255,0,0.5)");

});


channel.bind('pusher:member_removed', function(member) {
  var out_member_id = member.id;
  $("#user_in_out_"+out_member_id).css("color","rgba(255,0,0,0.5)");

});



channel.bind('client-event', function(data) {


 
  
});


/*var sentar_channel = pusher.subscribe('sentar_channel');
sentar_channel.bind('sentar-event', function (data) {
    $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: '전체알림!',
        // (string | mandatory) the text inside the notification
        text: '전체 유저들에게 다 보이기.',
        image: '<%#=gravatar_for_url current_user %>'
    });
});
*/





<%if current_user %>
var current_user = <%= current_user.id %>
var channel3 = pusher.subscribe('mychannel-<%=current_user.id%>');
channel3.bind('my-event', function (data) {
    if (data.type == 'new_follower') { //새로운 팔로워
        $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: '새로운 팔로잉!!',
            // (string | mandatory) the text inside the notification
            text: data.name + '님이 팔로잉을 하였습니다' + "<a href=/users/" + current_user + "/following>확인하러가기</a>",
            image: data.url
        });
    } else if (data.type == 'new_message') {
        $.gritter.add({
            title: data.title,
            text: data.message,
            image: data.url
        });
       
       
        var count = Number($("#unread_count").text()) + 1
        var notify_count =  Number($("#notify-count").text()) + 1  
          $("#unread_count").html(count)
          $("#notify-count").html(count)
          
          
        
      
    } else if (data.type == 'new_comment') {
        $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: data.title,
            // (string | mandatory) the text inside the notification
            text: data.message,
            image: data.url
        });
    } else if (data.type == 'new_purchase') {
        $.gritter.add({
            title: data.title,
            text: data.message,
            image: data.url
        });
    }
    else if (data.type == 'new_product_purchase') {
        $.gritter.add({
            title: data.title,
            text: data.message,
            image: data.url
        });
    }
    else if (data.type == 'like') {
        $.gritter.add({
            title: data.title,
            text: data.message,
            image: data.url
        });
    }
     else if (data.type == 'following_login') {
        $.gritter.add({
            title: data.title,
            text: data.message,
            image: data.url
        });
    }else if (data.type == 'is_read') {
        // $.gritter.add({
        //     title: data.title,
        //     text: data.message,
        //     image: data.url
        // });

    
   
  


    }
});
<% end %>
}




  </script>

  <%= render 'layouts/shim' %>
</head>
<body class="padTop53">
<div id="wrap"> 
<%= render "layouts/header"  %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>
<% if logged_in? %>
<%= render "layouts/mini_nav"  %>
<% end %>
<%= debug(params) if Rails.env.development? %> 
<!-- 개발환경일경우 디버깅 제공 -->
</div>
</body>
</html>








 
